.global-header {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;

  h1 {
    position: relative;
    margin-inline: auto;
    padding: 28px 0 18px;

    @include media-breakpoint-up(md) {
      padding: 28px 0 15px;
    }

    @include media-breakpoint-up(lg) {
      padding: 32px 0 18px;
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
      display: block;
      content: "";
      background-color: #000;
      width: 100%;
    }

    &::before {
      top: 0;
      height: 4px;
    }

    &::after {
      top: 6px;
      height: 1px;
    }

    img {
      display: block;
      margin: 0 auto;
      padding: 0;
      max-width: 180px;

      @include media-breakpoint-up(lg) {
        max-width: 260px;
      }
    }

    span {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
        margin-top: 13px;
        color: #1e1b19;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 0.01em;
        line-height: 1;
        text-align: center;
      }
    }
  }

  nav {
    position: relative;
    border-top: 1px solid #000;
    padding-top: 2px;
    border-bottom: 1px solid #000;

    &::before {
      position: absolute;
      top: 2px;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #000;
    }

    ul {
      // border-top: 1px solid #000;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-up(lg) {
        flex-wrap: nowrap;
        padding: 11px 0;
      }
    }

    li {
      display: flex;
      align-items: stretch;
      position: relative;
      width: 50%;
      border-bottom: 1px solid #000;

      &:nth-last-of-type(2),
      &:nth-last-of-type(3) {
        border-bottom: none;
      }

      @include media-breakpoint-up(lg) {
        // position: static;
        width: auto;
        border-bottom: none;
      }

      &::before {
        position: absolute;
        left: 0;
        content: "";
        width: 1px;
        background: #000;
        height: 30%;
        top: 50%;
        transform: translateY(-50%);

        @include media-breakpoint-up(lg) {
          height: 50%;
        }
      }

      &:nth-of-type(2n + 1)::before {
        display: none;

        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      &:first-child {
        &::before {
          display: none;
        }
      }

      &:last-child {
        &::before {
          display: none;
        }
      }

      a {
        display: block;
        text-align: center;
        width: 100%;
        padding: 18px 0;
        color: #1e1b19;
        font-family: "Libre Franklin";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.06em;
        text-decoration: none;

        @include media-breakpoint-up(lg) {
          padding: 11px 16px;
        }

        @include media-breakpoint-up(xl) {
          padding: 11px 24px;
        }

        &.blank {
          span {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: -2px;
              right: -6px;
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background-color: #000;
            }
          }
        }
      }

      &.language {
        display: flex;
        margin-left: 10px;
        border-top: none;

        @include media-breakpoint-up(xl) {
          margin-left: 28px;
        }

        li {
          position: relative;
          color: #1e1b19;
          font-family: "Libre Franklin";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: 2.4px;

          &:first-child {
            border-right: 1px solid #000;
            padding-right: 10px;
          }

          &:last-child {
            padding-left: 10px;
          }

          &[data-language="is-active"] {
            color: #b51b03;
          }
        }
      }
    }
  }
}
