.main-stockist {
  .carousel.slide {
    .d-grid {
    }

    .carousel-inner {
      position: relative;
      width: 450px;
    }

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: $black;
      border: 1px solid #000;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      padding: 0;
      opacity: 1;

      &.carousel-control-prev {
        left: 10px;
      }

      &.carousel-control-next {
        right: 10px;
      }

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: 12px;
        height: 12px;
      }
    }
  }
}