html,
body {
  width: 100% !important;
}

body {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-feature-settings: "palt" 1;
  color: #1e1b19;
  background: url(/src/assets/bg-all.png) top center;
  background-size: cover;
}

.all {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

a {
  &:hover {
    color: #b51b03;
  }
}

.font-sans {
  font-family: "Noto Sans JP", sans-serif;
}

.font-franklin {
  font-family: "Libre Franklin", sans-serif;
}

.font-EBGaramond {
  font-family: "EB Garamond", serif;
}

.global-header {
  display: flex-inline;
  wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-top: 4px solid #000;
  margin-bottom: 40px;

  &::before {
    display: block;
    content: "";
    margin-top: 4px;
    background-color: #000;
    height: 1px;
    width: 100%;
  }

  h1 {
    margin: 54px;
    padding: 0;

    @media (min-width: 541px) {
      margin: 27px auto;
    }

    img {
      display: block;
      margin: 0 auto;
      padding: 0;
    }

    span {
      display: block;
      margin-top: 8px;
      color: #1e1b19;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.03em;
      line-height: 1;
      text-align: center;
    }
  }

  nav {
    border-top: 1px solid #000;
    padding-top: 2px;
    border-bottom: 1px solid #000;

    ul {
      border-top: 1px solid #000;
      list-style-type: none;
      margin: 0;
      padding: 16px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 541px) {
        flex-wrap: wrap;
      }
    }

    li {
      position: relative;
      width: 50%;

      @media (min-width: 541px) {
      }

      @media (min-width: 880px) {
        position: static;
        width: auto;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "|";

        @media (min-width: 880px) {
          position: static;
        }
      }

      &:nth-of-type(2n + 1)::before {
        content: none;

        @media (min-width: 880px) {
          content: "|";
        }
      }

      &:first-child {
        &::before {
          display: none;
        }
      }

      &:last-child {
        &::before {
          display: none;
        }
      }

      a {
        display: block;
        padding-inline: 12px;

        &:link,
        &:visited,
        &:hover,
        &:active {
          color: #1e1b19;
          font-family: "Libre Franklin";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 2.5;
          letter-spacing: 2.4px;
          text-decoration: none;
        }
      }

      &.language {
        display: flex;
        margin-left: 12px;
        border-top: none;
        display: none;

        @media (min-width: 880px) {
          display: block;
        }

        li {
          position: relative;
          color: #1e1b19;
          font-family: "Libre Franklin";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 2.4px;

          &:first-child {
            border-right: 1px solid #000;
            padding-right: 10px;
          }

          &:last-child {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.container-about {
  display: flex;
  justify-content: space-between;

  .details {
    h2 {
      font-size: 84px;
      margin-bottom: 64px;
    }

    p {
      font-size: 14px;

      &.copy {
        &::before {
          content: "“";
        }
        &::after {
          content: "”";
        }
      }

      &.name {
        &::before {
          content: "–";
          padding-right: 4px;
        }
      }
    }

    .detail {
      line-height: 2;
    }

    .link {
      text-align: right;

      a {
        display: inline-block;
        position: relative;
        padding-left: 48px;
        font-size: 14px;
        text-decoration: none;

        &:link,
        &:visited,
        &:hover,
        &:active {
          color: #000;
        }

        &::before {
          content: "";
          display: block;
          width: 30px;
          height: 1px;
          background-color: #000;
          position: absolute;
          left: 0;
          top: 13px;
        }
      }
    }
  }

  .collection {
    h3 {
      font-size: 48px;
      margin-bottom: 60px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      p {
        font-size: 10px;
        line-height: 1.6;
      }
    }

    li {
      .img {
        position: relative;
        overflow: hidden;
        transition-duration: 4s;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: #000;
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          animation: slideMask 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        }

        @keyframes slideMask {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(100%); /* 右方向にスライドして消える */
          }
        }
      }
    }

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        text-decoration: none;
        color: #000;
      }
      &:link {
        text-decoration: underline;
      }
    }
  }
}

.container-masterpiece {
  width: 100%;
  header {
    @media (min-width: 1400px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
    }

    h2 {
      font-size: 48px;
      font-weight: 700;

      @media (min-width: 541px) {
        font-size: 64px;
      }

      @media (min-width: 880px) {
        font-size: 84px;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 0;
    width: 100% !important;

    @media (min-width: 541px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 880px) {
      grid-template-columns: repeat(1, 34.6% 2fr);
    }
  }

  .grid-column-separate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 0;

    @media (min-width: 541px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 880px) {
      grid-template-columns: repeat(1, 53.4% 1fr);
    }
  }

  .grid-item {
    display: block;
    break-inside: avoid;
    margin-bottom: 10px;

    @media (min-width: 541px) {
    }

    @media (min-width: 880px) {
      &.grid-item-4,
      &.grid-item-5 {
        margin-bottom: 0;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .grid-item.grid-item-7 {
    grid-column: 1 / -1;
    grid-row: 0;

    @media (min-width: 541px) {
    }

    @media (min-width: 880px) {
      grid-column: 1 / -1;
    }
  }
}
